li {
    border: 2px solid red;
}

#special {
    background: yellow;
}

.completed {
    text-decoration: line-through;
}

ul {
    list-style-type: none;
}

/*
---------------------------------------------------------------------------------------------------------------
Element
li {
    
}
---------------------------------------------------------------------------------------------------------------
Class
.hello{
    
}
---------------------------------------------------------------------------------------------------------------
ID
#name{
    
}
---------------------------------------------------------------------------------------------------------------
Star (Applies to all element in the page)
*{

}
---------------------------------------------------------------------------------------------------------------
Descendant (For nested elements, child of)
li a {

}
---------------------------------------------------------------------------------------------------------------
Adjacent (Select element after another element, sibling on the same level)
h4 + ul {

}
---------------------------------------------------------------------------------------------------------------
Attribute (All inputs, imgs, hrefs)
a[href="http://wwww.google.com"]{
    
}

input[type="checkbox"]{

}
---------------------------------------------------------------------------------------------------------------
nth of type (Takes a number and selects every nth of a specific element, ex 4th header)
ul:nth-of-type(3){

}
---------------------------------------------------------------------------------------------------------------
*/
